@charset "UTF-8";

.submenu {
	color:white;
}
body > ul {
    border-left: 5px solid #ddd;
}
ul.tree-list {
    font-family: "Roboto", sans-serif;
}
ul.tree-list li {
    list-style: none;
    padding: 0.2em 0;
}
ul.tree-list li label {
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.2em 0.3em;
    border-radius: 0.2em;
    color: #C4C4C4;
}

ul.tree-list li label:hover {
	color: white;
}

ul.tree-list li > ul {
    padding-left: 0.2em;
    position: relative;
}
ul.tree-list li > ul > li {
    display: none;
}

ul.tree-list li > ul:not(.cate-4 > ul):before {
    content: "";
    font-family: "FontAwesome";
    visibility: visible;
    font-size: 21px;
    position: absolute;
    left: 0;
    top: -1.45em;
    transition: transform 0.3s;
}



ul.tree-list li input {
    width: 40px;
    left: 60px;
    position: absolute;
    cursor: pointer;
    margin-top: 0.5em;
    opacity: 0;
    height: 25px;
    z-index: 1;
}


ul.tree-list li input:hover ~.arrow {
    background-color:  #eee;
}
ul.tree-list li input:checked ~ ul:before {
    transform: rotate(90deg);
}


ul.tree-list li input:checked ~ ul > li {
    display: block;
    left: 6px;
}


.sidebar-list li .submenu i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--color_Light1);
    font-size: 20px;
}

.sidebar-list li.active .gnb.cate .bxs-chevron-down {
    transform: rotate(0deg);
}

.gnb{
	font-size:15px;
}

 .gnb.cate > a.flex {
	color:#C4C4C4;
}


#nb>.wrap>ul>.gnb ol li {
    padding: 0.5em 2em;
    font-size: 14px;
    color: #777;
    height: 36px;
}


.sidebar-list li{
	position: relative;
}

#nb>.wrap>ul .cate>.cate-wrap> ol>li:not(.cate-4):hover>a::after{
	display: inline-block;
}
#nb>.wrap>ul .cate>.cate-wrap> ol>li:not(.cate-4)>a::after{
	content: ">";
	font-size:14px;
	display: block;
	box-sizing: border-box;
}


.arrow{
	font-size:21px;
	 transition: 0.3s;
     height: 20px;
    width: 20px;
    text-align: center;
    line-height: 10px;
}
 ul.tree-list li input:checked ~ .arrow { 
    transform: rotate(90deg);
    transition: 0.3s;
}