<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/commLayout :: commLayout(~{this::head}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/member/member.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/assets/js/daumPostcode.js"></script>
    <script src="/assets/js/memberRegistration.js"></script>


    <script type="text/javascript">
        var idx=1;

        $(document).ready(function() {
            //1차카테고리 세팅
            getCategory();
        });
        function subCateSelected(el){
            //어떤카테고리가 변경되었는지
            var depth=$(el).index()+1;
            //1:1차, 2:2차 ,3:3차,4:4차
            if(depth==4)return;//마지막카테고리가 선택되면 종료

            //하위 카테고리 검색 후 태그생성
            var parentNo=$(el).val();
            //alert(cateNo);
            $.ajax({
                url:`/common/categorys/${parentNo}`,
                success: function(result){//result<==category.html
                    //$(".first").html(result);
                    //현재 표현되는 카테고리 제일 마지막위치 삽입
                    //var length=$(".cate>.category").length;
                    $(`#cate>.category:gt(${depth-1})`).remove();
                    $("#cate>.category").last().after(result);
                    //var depth=$("#cate>.category").last().index()+1;
                    $("#cate>.category").last().find(".depth").text();
                }

            });
        }
        function getCategory(){
            //1차카테고리 정보를 읽어
            $.ajax({
                url:"/common/categorys",
                success: function(result){//result<==category.html
                    $("#cate").html(result);
                    var depth=$("#cate>.category").last().index()+1;
                    $("#cate>.category").last().find(".depth").text();
                }
            });
        }


    </script>
</head>
<main>
    <form id="form-delivery" action="/signUp" method="post">
        <section id="base">
            <!--                                이미지 등록 div-->
            <div class="flex">
                <div style="flex: 1">

                    <div>
                        <label class="img" for="defimg">+</label>
                        <input id="defimg" class="gimg" type="file" name="gimg" onchange="gimgChanged(this)">
                        <input type="hidden" class="newName" name="newName">
                        <input type="hidden" class="orgName" name="orgName">
                    </div>
                </div>
                <!--                                    데이터 입력 div-->
                <div style="flex: 1.5">
                    <ul>
                        <li>
                            <label for="name">이름</label>
                            <input class="box-style-common" type="text" id="name" name="name" placeholder="이름">
                        </li>


                        <li>
                            <label for="email">이메일</label>
                            <input class="box-style-common" type="text" id="email" name="email" placeholder="이메일">
                        </li>
                        <li>
                            <label for="phone">핸드폰</label>
                            <input class="box-style-common" type="text" id="phone" name="phone" placeholder="핸드폰">
                        </li>
                        <li>
                            <label for="pass">비밀번호</label>
                            <input class="box-style-common" name="pass" type="password" id="pass" placeholder="비밀번호"
                                   onchange="check_pw()">
                        </li>
                        <li>
                            <label for="pass-confirm">비밀번호 확인</label>
                            <input class="box-style-common" type="password" id="pass-confirm" placeholder="비밀번호 확인"
                                   onchange="check_pw()">
                            <span id="check"></span>
                        </li>


                        <li>
                            <label for="birth">생년월일</label>
                            <input class="box-style-common" type="date" id="birth" name="birth" placeholder="생년월일">
                        </li>

                    </ul>

                </div>
                <div style="flex: 1.5">
                    <ul>
                        <li>
                            <label for="serial_num">군번</label>
                            <input class="box-style-common" type="text" id="serial_num" name="number" placeholder="군번">
                        </li>
                        <li>
                            <label for="join_date">입대일</label>
                            <input class="box-style-common" type="date" id="join_date" name="joinDate"
                                   placeholder="입대일">
                        </li>
                        <li>
                            <label>계급</label>
                            <div>
                                <select name="position">
                                    <option th:each="dto : ${rList}" th:value="${dto.no}" th:text="${dto.position}">대장</option>
                                </select>
                            </div>


                        </li>
                        <li>
                           <label for="department_name">소속</label>
                           <!--  <input class="box-style-common" type="text" id="department_name" name="department"
                                    placeholder="소속"> &ndash;&gt; -->
                            <div id="cate">
                                여기에 카테고리가 들어갈꺼에요

                            </div>
                        </li>
                        <li style="margin-top:10px">
                            <label for="role">권한</label>
                            <input class="box-style-common" type="text" id="role">
                            <br><br>
                            <th:block th:each="myrole:${T(com.green.nowon.security.MyRole).values()}">
                            <label><input type="radio" name="role" th:value="${myrole}" th:text="${myrole.getName()}"> </label>
                            </th:block>
                        </li>
                    </ul>

                </div>
            </div>

        </section>

        <section id="address-chart">
            <div class="flex">
                <div style="flex: 1"></div>
                <div style="flex: 3">
                    <!--                                            daumPostCode 시 db 넣는 dib-->
                    <ul>
                        <li class="disp">
                            <label for="name">주소</label>
                            <dl>
                                <dd>
                                    <input type="text" id="postcode" name="postcode" placeholder="우편번호">
                                    <input type="button" onclick="daumPostcode()" value="우편번호 찾기"><br>
                                    <input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
                                    <input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
                                </dd>
                            </dl>
                        	<button class="btn-style-common" type="submit">간부등록</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </form>

</main>
</html>