<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/commLayout :: commLayout(~{this::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
	<main>
	<div class="board_wrap">
        <div class="board_title">
            <strong>공지사항 글쓰기</strong>

        </div>
        <form aciton="/write" method="post">
        <div class="board_write_wrap">

                <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="title" placeholder="제목 입력"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea name="content" placeholder="내용 입력"></textarea>
                </div>
                </div>
             <div class="bt_wrap">
                <button class="on" type="submit">등록</button>
                <a href="/list">취소</a>
                </div>

        </div>

        </form>
    </div>
    </main>

</html>