<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/log/login.css">
</head>
<body>
<main>
  <form action="/login" method="post">
    <div class="wrap2">

      <div class="wrap">

        <div class="email-box">
          <input type="text"  name="email" placeholder="이메일">
        </div>
        <div class="pass-box">
          <input type="password" name="pass" placeholder="비밀번호">
        </div>
        <div class="login-btn">
          <button type="submit">로그인</button>
        </div>


        <div class="flex">
          <div class="login-btn2">
            <a href="/">비밀번호 재설정</a>
          </div>
          <div class="login-btn3">
            <a href="/">회원가입</a>
          </div>
        </div>

        <div class="problem">
          로그인에 문제가 있으신가요?
        </div>

      </div>
    </div>
  </form>
<main>
</body>
</html>