#memberSearch input {
    border-radius: 5px;
}
#memberSearch {

    width: 100%;
    height: 77px;
    background-color: #c4c4c4;
    font-size: 18px;
    border-radius: 4px;
}
.cate{
    margin-left:20px;
}

#memberSearch div div{

    height: 25px;
    vertical-align: center;
}
.search{
    padding: 3px;
    background-color: darkgreen;
    border-radius: 4px;
    margin-left: 100px;
    width: 90px;
    text-align: right;
    justify-content: space-evenly;
    line-height: 34px;

}
.search>button{
    background-color: transparent;
    color: #fff;
}

#list {

    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 30px;
    margin-top: 50px;
}

#list table {
    flex: auto;
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    word-break: break-all;
}

th {
    text-align: left;
    background-color: darkgreen;
}

thead {
    font-weight: bold;
    color: #e9e9e9;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}
.form-group{
    justify-content: end;
    margin-right: 30px;
}
.form-control{
    margin: 0 30px;
}
.btn-primary{
    border-radius: 4px;
    background-color: darkgreen;
    color: #FFFFFF;
}

@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;

    }
    tr:nth-child(2n-1){
        background-color: #3e782c;
        color:#fff;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }


}
#paging{
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
}

#paging>div>ul a {
    padding: 0 15px;
    border: 1px solid #e9e9e9;
    background-color: darkgreen;
    color: #FFFFFF;
    border-radius: 3px;
}

.clicked{
    color: red;
}